.spollers {
	display: grid;
	gap: toRem(30);
	position: relative;
	@media (max-width: $mobile) {
		gap: toRem(15);
	}
	@media (min-width: $mobileSmall) {
		&::before {
			content: '';
			position: absolute;
			display: inline-block;
			background: url('@img/about/faq-question.svg') center center / contain no-repeat;
			width: toRem(61);
			height: toRem(75);
			top: 0;
			right: 0;
			transform: translate(120%, -120%);
			@media (max-width: toRem(1350)) {
				transform: translate(0, -120%);
			}
		}
	}
	&__item {
	}
	&__title {
		cursor: default;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		list-style: none;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		._spoller-init & {
			cursor: pointer;
		}
	}
	&__title-text {
		display: inline-block;
		max-width: toRem(430);
		position: relative;
		background-color: $greenColor;
		border-radius: 25px;
		padding: toRem(13) toRem(34) toRem(13) toRem(16);
		border: 1px solid #000;
		@include adaptiveValue('font-size', 18, 16);
		font-weight: 300;
		line-height: 1.83;
		letter-spacing: 0.4px;
		&::before {
			content: '';
			position: absolute;
			bottom: 1.5px;
			left: -7px;
			background: url('@img/about/faq-title-bg-decor.svg') bottom left / contain no-repeat;
			width: toRem(18);
			height: toRem(31);
		}
	}
	&__button-wrapper {
		display: none;
		@media (min-width: $mobileSmall) {
			display: inline-block;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $greenColor;
				filter: blur(25px);
				opacity: 0;
				transition: opacity 0.3s;
				._spoller-active & {
					opacity: 1;
				}
			}
		}
	}
	&__button {
		@media (min-width: $mobileSmall) {
			position: relative;
			z-index: 2;
			border-radius: 12px;
			background: transparent;
			display: flex;
			flex-direction: column;
			padding: toRem(7) toRem(12);
			align-items: center;
			text-align: center;
			gap: toRem(3);
			font-size: toRem(13);
			letter-spacing: 0.1px;
			line-height: 1.5;
			color: #373f47;
			transition: all 0.3s;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.1);
				}
			}
			&::before {
				font-size: toRem(24);
			}
			._spoller-active & {
				color: $whiteColor;
				background-color: #373f47;
			}
		}
	}
	&__body {
		padding: toRem(40) 0;
		@media (min-width: $mobile) {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: toRem(100);
				height: toRem(115);
				background: url('@img/about/faq-body-question.svg') center center / contain no-repeat;
			}
		}
		@media (max-width: $mobile) {
			padding: toRem(20) 0;
		}
	}
	&__text {
		max-width: toRem(465);
		margin-left: auto;
		padding: toRem(12) toRem(18) toRem(13) toRem(25);
		border-radius: 25px;
		border: 1px solid #000;
		@include adaptiveValue('font-size', 18, 16);
		font-weight: 300;
		line-height: 1.83;
		letter-spacing: 0.4px;
		position: relative;
		background-color: #fff;
		&::after {
			content: '';
			position: absolute;
			right: -8px;
			bottom: 0;
			background: url('@img/about/faq-body-bg-decor.svg') center center / contain no-repeat;
			width: toRem(23);
			height: toRem(54);
			display: inline-block;
		}
	}
}

.simple-spollers {
	&__item {
		border-bottom: 1px solid $blackColor;
	}
	&__title {
		list-style: none;
		cursor: pointer;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		padding: toRem(14) toRem(30) toRem(14) toRem(8);
		font-size: toRem(14);
		font-weight: 300;
		text-transform: uppercase;
		position: relative;
		&._spoller-active {
			font-weight: 400;
		}
		&::before {
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translate(0, -50%) rotate(-90deg);
			transition: transform 0.3s;
			font-size: toRem(10);
		}
		&._spoller-active::before {
			transform: translate(0, -50%) rotate(0);
		}
	}
	&__body {
		padding: toRem(10) toRem(8) toRem(20);
		font-weight: 300;
		font-size: toRem(14);
		font-weight: 200;
		p:not(:last-child) {
			margin-bottom: toRem(20);
		}
		li:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
}
