//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: toRem(15) toRem(16);
	font-size: toRem(12);
	text-align: center;
	letter-spacing: 0.196px;
	border: 0.5px solid $mainColor;
	background-color: $greenColor;
	color: $mainColor;
	border-radius: 30px;
	transition: background-color 0.3s;
	justify-content: center;
	text-transform: uppercase;
	@media (min-width: $mobile) {
		font-weight: 500;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #e9fa7c;
		}
	}
	&--fw {
		width: 100%;
	}
	&--white {
		background-color: $whiteColor;
		font-weight: 300;
	}
	@media (max-width: $mobile) {
		padding: toRem(10) toRem(10);
	}
}
