//<INPUT>
// Сніппет (HTML): inp
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	border: 1px solid $blackColor;
	caret-color: inherit;
	padding: toRem(16) toRem(19);
	background-color: $whiteColor;
	color: #949494;
	font-size: toRem(17);
	letter-spacing: 0.312px;
	text-transform: uppercase;
	border-radius: 30px !important;
	outline: none;
	transition: border-color 0.3s;
	font-weight: 300;
	&:focus {
		border-color: $greenColor;
	}
	&._form-focus {
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
textarea.input {
	resize: none;
	padding: toRem(25) toRem(30);
	min-height: toRem(182);
}
