//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	width: 88px;
	height: 40px;
	display: flex;
	border: 1px solid $blackColor;
	background-color: $whiteColor;
	border-radius: 15px;
	// .quantity__button
	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;
		transition: transform 0.3s;
		outline: none;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: $blackColor;
			width: 9px;
			height: 1px;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.5);
			}
		}
		// .quantity__button_plus
		&--plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&--minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			color: $mainColor;
			font-size: toRem(12);
			font-weight: 500;
			width: 100%;
			text-align: center;
		}
	}
}
