.custom-select {
	position: relative;
	z-index: 10;
	&.opened {
	}
}

.custom-select-trigger {
	width: 100%;
	display: block;
	border: 1px solid $blackColor;
	padding: toRem(16) toRem(19);
	background-color: $whiteColor;
	color: #949494;
	font-size: toRem(17);
	letter-spacing: 0.312px;
	text-transform: uppercase;
	border-radius: 30px !important;
	transition: border-color 0.3s;
	font-weight: 300;
	padding-right: toRem(50);
	&::before {
		position: absolute;
		top: 50%;
		right: toRem(30);
		transform: translateY(-50%);
		font-size: toRem(10);
		color: #1c1c1d;
		.opened & {
			transform: translateY(-50%) rotate(180deg);
		}
	}
}

.custom-options {
	position: absolute;
	top: calc(100% + toRem(5));
	left: 0;
	width: 100%;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	border: 1px solid $blackColor;
	display: flex;
	flex-direction: column;
	background-color: $whiteColor;
	border-radius: 30px;
	font-weight: 300;
	.opened & {
		visibility: visible;
		opacity: 1;
	}
	&.option-hover {
	}
}

.custom-option {
	padding: toRem(16) toRem(19);
	font-size: toRem(17);
	color: #949494;
	cursor: pointer;
	@media (any-hover: hover) {
		&:hover {
			background-color: rgb(227, 239, 145, 0.1);
		}
	}
}
