.contacts-main {
	position: relative;
	&__img {
		@media (min-width: $tablet) {
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: 60%; /* 784/1440 */
			max-height: 150%;
		}
		@media (max-width: $tablet) {
			max-width: 100%;
		}
	}
	&__container {
		@media (min-width: $tablet) {
			@include adaptiveValue('padding-top', 190, 90);
			@include adaptiveValue('padding-bottom', 330, 150);
		}
		@media (max-width: $tablet) {
			padding-top: toRem(100);
			padding-bottom: toRem(50);
		}
	}
	&__title {
		color: #333;
		@include adaptiveValue('font-size', 52, 26);
		font-weight: 700;
		line-height: 1.4;
		letter-spacing: 0.4px;
		position: relative;
		@media (min-width: $tablet) {
			max-width: 60%;
			margin-left: auto;
		}
		@media (max-width: $tablet) {
			text-align: center;
		}
		&::after {
			content: '';
			position: absolute;
			top: 100%;
			right: 7%;
			width: 63%; /* 378/600 */
			padding-bottom: 4.166667%; /* 25/600 */
			background: url('@img/contacts-title-bottom.svg') center center / contain no-repeat;
		}
		&::before {
			content: '';
			position: absolute;
			bottom: 60%;
			left: 80%;
			background: url('@img/contacts-title-top.svg') center center / contain no-repeat;
			width: 20.333333%; /* 122/600 */
			padding-bottom: 17.5%; /* 105/600 */
		}
	}
	&__decor {
		min-width: 100%;
		position: absolute;
		transform: translateY(40%);
		bottom: 0;
		left: 0;
		@media (max-width: $mobileSmall) {
			max-height: toRem(50);
		}
	}
}
.contacts-info {
	padding-top: toRem(120);
	padding-bottom: toRem(190);
	position: relative;
	overflow: hidden;
	@media (max-width: $mobile) {
		padding-bottom: toRem(100);
	}
	&::after {
		content: '';
		position: absolute;
		pointer-events: none;
		right: 0;
		bottom: 0;
		width: toRem(389);
		height: toRem(442);
		background: url('@img/contacts-gradient.svg') bottom right / contain no-repeat;
	}
	&__container {
		max-width: toRem(970);
		text-align: center;
		@include adaptiveValue('font-size', 22, 16);
		line-height: 1.5;
		position: relative;
		z-index: 2;
	}
	&__text {
		font-weight: 300;
		&:not(:last-child) {
			margin-bottom: toRem(50);
		}
	}
	&__attention {
		font-weight: 500;
		display: flex;
		flex-direction: column;
		gap: toRem(50);
		&::after {
			content: '';
			width: toRem(60);
			height: toRem(55);
			background: url('@img/cantacts-heart.svg') center center / contain no-repeat;
			align-self: center;
		}
	}
}
.simple-link {
	color: $darkVioletColor;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}
