//====================================================================================================
.footer {
	background-color: $violetColor;
	@include adaptiveValue('padding-top', 170, 85);
	@include adaptiveValue('padding-bottom', 130, 65);
	color: $whiteColor;
	&__container {
	}
	&__title-block {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: toRem(9);
		align-items: center;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 70, 40);
		}
		@media (min-width: $mobile) {
			padding: 0 toRem(60);
		}
	}
	&__title {
		@include adaptiveValue('font-size', 42, 21);
		font-weight: 500;
		line-height: 1.45;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		position: relative;
		color: rgba(255, 255, 255, 0.87);
		&::before {
			content: '';
			position: absolute;
			width: toRem(66);
			height: toRem(81);
			right: 100%;
			bottom: 100%;
			background: url('@img/footer-stars.svg') center center / contain no-repeat;
			@media (max-width: $mobile) {
				// width: toRem(33);
				// height: toRem(40);
				transform: translateX(100%);
			}
		}
	}
	&__text {
		@include adaptiveValue('font-size', 20, 14);
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 100%;
			width: toRem(35);
			height: toRem(66);
			background: url('@img/footer-lightning.svg') center center / contain no-repeat;
			transform: translate(50%, -50%);
			@media (max-width: $mobile) {
				width: toRem(22);
				height: toRem(40);
				transform: translate(-100%, 0);
			}
		}
	}
	&__form {
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
	}
	&__content {
		gap: toRem(40);
		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: toRem(250) auto toRem(250);
			justify-content: space-between;
		}
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
	&__menu {
	}
	&__menu-list {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
	}
	&__menu-item {
	}
	&__menu-link {
		font-size: toRem(17);
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__main {
		display: flex;
		flex-direction: column;
		gap: toRem(21);
		text-align: center;
		@media (max-width: $mobile) {
			order: 3;
		}
	}
	&__logo {
		max-width: toRem(269);
		transition: transform 0.3s;
		filter: drop-shadow(0px 5.118px 5.118px rgba(0, 0, 0, 0.25));
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.05);
			}
		}
		&:active {
			transform: scale(1.05);
		}
		img {
			max-width: 100%;
		}
	}
	&__logo-description {
		font-size: toRem(13);
		font-weight: 500;
		line-height: 1.25;
	}
	&__social {
	}
}
.social {
	gap: toRem(20);
	display: flex;
	@media (min-width: $mobile) {
		flex-direction: column;
		align-items: flex-end;
	}
	&__link {
		position: relative;
		@media (any-hover: hover) {
			&:hover::after {
				transform: translate(-50%, -50%) scale(0.7);
				opacity: 0.5;
			}
			&:hover::before {
				background-color: #f07cb0;
			}
		}
		&::before {
			width: toRem(46);
			height: toRem(46);
			border: 1px solid $blackColor;
			background: #eb88b4;
			border-radius: 50%;
			color: $whiteColor;
			font-size: toRem(20);
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 2;
			transition: background-color 0.3s;
		}
		&::after {
			content: '';
			position: absolute;
			width: 143.478261%; /* 66/46 */
			height: 154.347826%; /* 71/46 */
			background-color: rgba(255, 255, 255, 0.87);
			filter: blur(25px);
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			transition:
				transform 0.3s,
				opacity 0.3s;
		}
	}
}
._icon-s-insta {
}
._icon-s-tiktok {
}
._icon-s-facebook {
}
//====================================================================================================
