.send-review {
	@include adaptiveValue('padding-top', 80, 40);
	@include adaptiveValue('padding-bottom', 80, 40);
	&__container {
	}
	&__title {
		@include adaptiveValue('font-size', 42, 20, 0, 1300, 768);
		@include adaptiveValue('margin-bottom', 70, 30);
		display: block;
	}
	&__title-decorator {
		position: relative;
		display: inline-block;
		@media (min-width: $mobile) {
			&::before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				padding-bottom: 7.002801%; /* 25/357 */
				background: url('@img/review-title-decor.svg') center center / contain no-repeat;
			}
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: toRem(25);
		position: relative;
		max-width: toRem(600);
		margin: 0 auto;
		@media (max-width: $mobile) {
			gap: toRem(15);
		}
		&::before {
			content: '';
			position: absolute;
			pointer-events: none;
			background-color: #e3ef91;
			filter: blur(50px);
			left: 50%;
			top: 6.6%; /* 33/500 */
			transform: translate(-50%);
			width: 64.833333%; /* 389/600 */
			padding-bottom: 62.166667%; /* 373/600 */
			z-index: -1;
			opacity: 0.1;
		}
	}
	&__input {
		&::placeholder {
			font-weight: 300;
		}
	}
	&__textarea {
		&::placeholder {
			font-weight: 300;
		}
	}
	&__button {
		text-transform: uppercase;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: toRem(27);
			height: toRem(36);
			background: url('@img/review-button-decor-star.svg') center center / contain no-repeat;
			transform: translateY(-30%);
		}
	}
}
